/* Loading spinner */
#loading_div {
    display: none;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: #EAEAEA;
}

#loading_gif {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/ajax-loader.svg) center no-repeat;
}
/* End loading spinner */

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #31708f;
    border-color: #bce8f1;
}

html {
    margin-bottom: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #ffffff url("../img/background.jpg") fixed no-repeat left;

    padding-top: 65px;
}

.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
}